
@import "App.css";




.Page {
    display: flex;
    /*padding-left: var(--desktop-nav-size);*/
    width: 100vw;
    justify-content: center;
    background-color: var(--bg-color);
}

#desktop.Page {
    display: flex;
    padding-left: var(--desktop-nav-size);
    width: 98vw;
}
